<style>
    .breakall {
        word-break: break-all;
    }
    td {
        height: fit-content;
    }
</style>
<div class="container">
    <h2 class="mb-5">我的分享</h2>
    <table class="table col-12 table-hover table mb-5">
        <thead>
        <tr class="row mx-0">
            <th class="col-md-8 col-sm-6 breakall">名称</th>
            <th class="col-md-3 col-sm-4 d-none d-sm-block small">分享时间</th>
            <th class="col-md-1 col-sm-2 d-none d-sm-block small">时限</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row mx-0" data-toggle="collapse" data-target="#op0" aria-expanded="true" aria-controls="collapseOne">
            <td class="col-md-8 col-sm-6 breakall"><i class="MDI folder"></i> 学习资料
                <button class="btn m-0 float-right"><i class="MDI eye"></i></button>
                <button class="btn m-0 float-right"><i class="MDI delete"></i></button>
            </td>
            <td class="col-md-3 col-sm-4 d-none d-sm-block small">2019-1-27 21:06:31</td>
            <td class="col-md-1 col-sm-2 d-none d-sm-block small">无限制</td>
        </tr>
        <tr class="row mx-0" data-toggle="collapse" data-target="#op0" aria-expanded="true" aria-controls="collapseOne">
            <td class="col-md-8 col-sm-6 breakall"><i class="MDI folder"></i> 多个文件分享
                <button class="btn m-0 float-right"><i class="MDI eye"></i></button>
                <button class="btn m-0 float-right"><i class="MDI delete"></i></button>
            </td>
            <td class="col-md-3 col-sm-4 d-none d-sm-block small">2019-1-27 21:06:31</td>
            <td class="col-md-1 col-sm-2 d-none d-sm-block small">无限制</td>
        </tr>
        </tbody>
    </table>
</div>
<script>

</script>