
p {
font-family:Tahoma,Arial,Helvetica;
	font-size: 12px;
	text-align: center;
	color:#555555;
}


.footer {
font-family:Tahoma,Arial,Helvetica;
	font-size: 12px;
	text-align: center;
	color:#555555;
}

.simpletext {
font-family:Tahoma,Arial,Helvetica;
	font-size: 13px;
	text-align: justify;
	color:#555555;
}

h2 {
	font-family:Tahoma,Arial,Helvetica;
	font-size: 24px;
	text-align: left;
	color:#111111;
	
} 

h3 {
	font-family:Tahoma,Arial,Helvetica;
	font-size: 18px;
	text-align: left;
	color:#333333;
	
} 

a {
   
    color:#c68900;
    text-decoration: none;
	
}

a:hover {
   color:#000;
   text-decoration: none;
    
}

.black {
   
    color:#000000;
	
}

h1 {
	font-family:Tahoma,Arial,Helvetica;
	font-size: 14px;
	text-align: center;
	color:#888888;
	
}  

h4 {
 font-size: 10px;
   text-align: left;

}


h6 {
 font-size: 16px;
   text-align: center;

}
h7 {
 font-size: 12px;
   text-align: center;
    color:#999999;

}
/*   NEWS STYLE  */

.newstext {
font-family:Tahoma,Arial,Helvetica;
	font-size: 13px;
	text-align: justify;
	color:#555555;
}
/*   NEWS date  */
h5 {
font-family:Tahoma,Arial,Helvetica;
 font-size: 12px;
   text-align: right;
   color:#888888;

}

/*   CONTACTS STYLE  */

.contactstext {
font-family:Tahoma,Arial,Helvetica;
	font-size: 14px;
	text-align: right;
	color:#555555;
}

.addresstext {
font-family:Tahoma,Arial,Helvetica;
	font-size: 13px;
	text-align: right;
	color:#555555;
}
h9 {
	font-family:Tahoma,Arial,Helvetica;
	font-size: 18px;
	text-align: right;
	color:#111111;
	
}  
.error{
font-size: 14px;
text-align: right;
color:#FF0000;

}

/*   GALLERY STYLE  */

h4 {
font-family:Tahoma,Arial,Helvetica;
	font-size: 14px;
	text-align: center;
	color:#555555;

}

.infotext {

font-family:Tahoma,Arial,Helvetica;
	font-size: 14px;
	text-align: left;
	color:#555555;


}

.mainmenu {
    
    text-align: center;
    padding: 0%;
    height: 50px;
    width: 100%;
    vertical-align: middle;
	position: relative;
	float: center;
	top: 20px;
}

.footermenu {
    
    text-align: center;
    padding: 0%;
    height: 50px;
    width: 100%;
    vertical-align: middle;
	position:   relative;
	float: center;
	bottom: 20px;
}
.menuitem {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    color: #333;
    background-color: #FFF;
    text-align: center;
    padding: 0px;
    border-right-width: thin;
    border-top-style:none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-color: #666;
    float: left;
    height:30px;
    width: 130px;
    line-height: 30px;
}

.login {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #333;
    background-color: #FFF;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    border-left-width: thin;
    border-top-style:none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style:none ;
    border-left-color: #666;
    float: right;
    height:30px;
   
    line-height: 30px;
}

.comunication {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #C00;
	text-align: center;
	height: 30px;
	width: 100%;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	position: absolute;
	float: center;
	top: -7px;
}

.container {
   
    height: 100%;
    width: 99%;
    vertical-align: middle;
    position: absolute;
    top: 110px;
}
.border {
    border: 2px solid #CCC;
}

.form {
    font-family: Tahoma, Helvetica, _sans;
    font-size: 11;
    color:#555555;
    text-align: right;
    margin-left:10;
    margin-right:0;
}

input {
	cursor:pointer;
 /*background-color:#fff;
 width:290px;
 color: #666;
 padding:3px 3px 3px 3px;
 font-size: 12px;
font-family: Tahoma, Helvetica, _sans;
 border: 1px solid #999;
 height: 25px; */
 }
 
  input.up {
	background-image: url(img/arrow-up-3.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
  input.delete {
	background-image: url(img/dialog-close-2.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 14px;	
}
  input.save {
	background-image: url(img/document-save-5.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 14px;	
}

  input.down {
	background-image: url(img/arrow-down-3.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center center;
		border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}

  input.btn {
	background-image: url(img/btn.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	color: #000;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}
  input.btn:hover {
	background-image: url(img/btnh.png);
	background-repeat: no-repeat;
	color: #000;	
}
 
 input.button {
    background: #e6e6dc;
    font-size:10px; 
    color: #333; 
    padding: 0px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 #555 #555 #555;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
    margin-left: 5px;
    margin-bottom : 3px;
    margin-top : 3px;
    height: 20px;
}

 input.button:hover {
    background: #fff;
    font-size:10px; 
    color: #333; 
    padding: 0px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 #555 #555 #555;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
    margin-left: 5px;
    margin-bottom : 3px;
    margin-top : 3px;
    height: 20px;
}


.note {
    font-family: Tahoma, Helvetica, _sans;
    font-size: 11;
    color:#900000;
    text-align: center;
    margin-left:0;
    margin-right:0;
}
table {
    margin-left: auto;
margin-right: auto; 
    margin-top: auto;
margin-bottom: auto;
    background-color: #fff;
    text-align: left;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #222;
    border-right-color: #222;
    border-bottom-color: #222;
    border-left-color: #222;
   /* border: 1px solid #ffffff;    */
}

table.menu {
	background-color: #fff;
	text-align: center;
	border: 0px solid #ffffff;
	vertical-align: middle;
	float: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	padding: 0px;
	
}
td.menu {
	background-color: #fff;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	
}
td.mfirst {
	background-color: #fff;
	text-align: right;
}
td.login {
	background-color: #fff;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;	
	
}
td.menuimg {
	background-color: #fff;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	width: 90px;
	padding:4px;
}

td.grid {
	vertical-align: middle;
	border: 1px dotted #999;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

td.gridev {
	vertical-align: middle;
	border: 1px dotted #999;
	margin: 0px;
	padding: 0px;
	text-align: left;
	background-color: #F93;
}

tr{
	padding: 0px;
}
tr.bar {
 background-color: #fff;
   height: 20px;
}
tr.item {
 background-color: #666;
   height: 20px;
}
tr.s_item {
 background-color: #999;
   height: 20px;
}

pre{
    display:block;
    font:100% "Courier New", Courier, monospace;
    padding:10px;
    border:1px solid #bae2f0;
    background:#e3f4f9;    
    margin:.5em 0;
    overflow:auto;
    width:800px;
}


/*  */

#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
}    


#preview{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}

#screenshot{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}
    
    img{border:none;}
    
    
    select {
    background-color:#fff;
   /*width:290px;*/
 color: #666;
 padding:3px 3px 3px 3px;
 font-size: 12px;
font-family: Tahoma, Helvetica, _sans;
 border: 1px solid #999;
 height: 25px;
    } 
    
    select:hover {
  
 border: 1px solid #000;

    } 
    
    
input:hover {
  
 /*border: 1px solid #000;*/

    } 
textarea:hover {
  
 border: 1px solid #000;

    } 
  textarea {
  
background-color:#fff;
 /*width:290px;*/
 color: #666;
 padding:3px 3px 3px 3px;
 font-size: 12px;
font-family: Tahoma, Helvetica, _sans;
 border: 1px solid #999;
 

    } body {
	font-size: 12px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 10px;
	padding: 0px;
	background-color: #FFF;
}
